body {
  background-color: rgb(240, 240, 240);
  font-family:
    "Proza Libre",
    sans-serif;
}

.navi-bar {
  background-color: rgb(86, 43, 129);
  color: white;
  font-family:
    "Open Sans",
    sans-serif;
  padding: 15px;
  font-size: 20px;
}

.placeholder {
  width: 100%;
}

#user-notes,
#user-photo,
#user-title {
  width: 100%;
}
